<template lang="pug">
  nav.navbar(role="navigation", aria-label="main navigation")
    .navbar-brand
      // nuxt-link.navbar-item(to='/')

      a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu
      .navbar-end
        // nuxt-link.navbar-item(to='/taxpayers/') Ver contribuyentes
        // nuxt-link.navbar-item(to='/taxpayers/create') Agregar contribuyente

</template>

<style lang="sass">
nav
  background-color: transparent !important
</style>
