<template lang="pug">
  .base
    .stars
</template>

<script>
export default {
  mounted () {
    let stars = 777
    let $stars = document.querySelector(".stars")
    let r = 800;
    for (let i=0; i < stars; i++) {
      let $star = document.createRange().createContextualFragment("<div class='star'></div>")
      $stars.appendChild($star)
    }
    
    document.querySelectorAll(".star").forEach(function(cur){
      let s = 0.2 + (Math.random() * 1)
      let curR= r + (Math.random() * 300)
      
      cur.style.transformOrigin = "0 0 "+ curR +"px"
      cur.style.transform = "translate3d(0, 0,-"+ curR +"px) rotateY(" + (Math.random() * 360) + "deg) rotateX("+(Math.random()*-50)+"deg) scale("+s+","+s+")"
    })
  }
}
</script>


<style>
.base {
  position: fixed;
  z-index: -10;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  min-width:  100%;
  background: radial-gradient(200% 100% at bottom center, #2e3192, #292985, #25237b, #1b1464) !important;
  background: radial-gradient(220% 105% at top center, #1b1464 10%, #1b1464 40%, #2e3192 65%, #6b39d4) !important;
  background-attachment: fixed;
  overflow: hidden;
}

.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
</style>
