<template lang="pug">
  div
    nuxt/  
</template>

<script>
import navbar from '~/components/navbar'
export default {
  components: {
    navbar
  }
}
</script>

<style lang="sass">
body
  border: 0px
  margin: 0px
  padding: 0px
</style>
