<template lang="pug">
  main.vpage
    sky

    // First slide content
      Welcome
    slide
      .columns.is-multiline.is-gapless.backframe.backframe-mobile.relative.slide_1.slide_1_mobile.is-mobile
        .column.is-6-desktop.is-12-mobile.is-flex.flex-center-start.text-mobile
          img.color-blue.title(src='/icons/title.svg')
          p.color-blue Espacio de emprendimiento
          p.color-blue.timer.is-size-3.is-size-6-mobile Faltan
          p.color-blue.timer.is-size-5.is-size-7-mobile {{ days }} Días, {{ hours }} horas, {{ minutes }} min y {{ seconds }} s.

        img.abosolute.rocket(src='/icons/rocket.svg',width='400')
        img.abosolute.planet1(src='/icons/planet1.svg',width='250')
        img.abosolute.planet2(src='/icons/planet2.svg',width='120')
        img.abosolute.planet3(src='/icons/planet3.svg',width='80')
    
    slide
      .columns.is-multiline.is-gapless.backframe.relative.slide_2.is-mobile.is-desktop
        .column.is-1-mobile.is-5-desktop
        .column.is-10-mobile.is-7-desktop.is-flex.flex-center-start.mb-5.mobile-text-frame
          h3.color-orange.is-size-2-desktop.is-size-3-mobile ¿Quiénes somos?
          br/
          p.color-blue.is-size-5-desktop.is-size-6-mobile Somos una tripulación de jóvenes que, aburridos de la realidad de nuestro planeta, decidimos iniciar la aventura más grande de nuestras vidas: EMPRENDER
        
        img.abosolute.moon_2(src='/icons/moon_2.svg')
        img.abosolute.nebula(src='/icons/nebula.svg')
        img.abosolute.flage(src='/icons/planet.svg')
        


    slide
      .columns.is-multiline.is-gapless.backframe.relative.slide_3.is-mobile
        .column.is-6-desktop.is-1-mobile
        .column.is-10-mobile.is-6-desktop.is-flex.flex-center-right
          .text-desktop.is-flex.flex-center-right
            h3.color-orange.is-size-2-desktop.is-size-3-mobile Nuestra misión
            br/
            p.color-blue.is-size-5-desktop.text-end.is-size-6-mobile Crear un espacio para despegar nuestras ideas e impulsarlas hacia el futuro
            hr/
            h3.color-orange.is-size-2-desktop.is-size-3-mobile ¿A dónde vamos?
            br/
            p.color-blue.is-size-5-desktop.text-end.is-size-6-mobile Ser la tripulación de emprendedores con la mayor cantidad de ideas impulsadas hacia el espacio

        img.abosolute.satelite(src='/icons/satelite.svg')
        img.abosolute.observer(src='/icons/observer.svg')
    
    slide
      .columns.is-multiline.is-gapless.backframe.relative.slide_4.is-mobile
        .column.is-12.is-flex.flex-center-start
          
          h3.color-orange.is-size-2-desktop.is-size-3-mobile Actividades
          br/
          p.has-text-white.is-size-3-desktop.mobile-text.is-size-4-mobile Conferencias
          p.has-text-white.is-size-3-desktop.mobile-text.is-size-4-mobile Talleres
          p.has-text-white.is-size-3-desktop.mobile-text.is-size-4-mobile Networking

        img.abosolute.astronaut(src='/icons/astronaut.svg')

    slide
      .columns.is-multiline.is-gapless.backframe.relative.slide_5.is-mobile.slide_5_mobile
        .column.is-12-mobile.is-6-desktop.is-flex.flex-center-left
          .text-left-desktop.is-flex.flex-center-left
            h3.color-orange.is-size-2-desktop Registro
            br/
            p.color-purple.is-size-4-desktop Nombre
            input.input-eq(v-model='name',type='text',placeholder="Nombre",min="2",max=150)
            br/
            p.color-purple.is-size-4-desktop Correo
            input.input-eq(v-model='email',type='email',placeholder="mi@correo.com",min="2",max=150)
            br/
            transition(name='fade')
              a.text-align.btn-grad(v-if="name !== '' && email !== ''",:href='`mailto:info@equira.mx?Subject=Registro a Equira&body=Hola mi nombre es: ${name}, mi correo es ${email} y estoy interesado en formar parte del equipo Equira.`')
                span.is-size-5 Enviar
        img.abosolute.base_mar(src='/icons/base_mar.svg')

    slide
      .columns.is-multiline.is-gapless.backframe.relative.slide_6.is-mobile.slide_6_mobile
        .column.is-1-mobile.is-7-desktop
        .column.is-10-mobile.is-5-desktop.is-flex.flex-center-start
          h3.color-orange.is-size-2-desktop.is-size-3-mobile Contactanos
          br/
          .columns.is-multiline
            .column.is-2.is-flex.flex-center-start
              b-icon(type="is-white",icon="email",size="is-medium")
            .column.is-10.is-flex.flex-center-left
              p.is-size-3.has-text-white info@equira mx
            .column.is-2.is-flex.flex-center-start
              b-icon(type="is-white",icon="phone",size="is-medium")
            .column.is-10.is-flex.flex-center-left
              p.is-size-3.has-text-white (961) 61 23 22 76
          


</template>

<script>
import sky from '~/components/sky'
import slide from '~/components/slide'

export default {
  data: () => ({
    days: 0,
    hours: 0,
    minutes: 0,
    seconds: 0,
    name: '',
    email: ''
  }),
  methods: {
    counter () {
      // Set the date we're counting down to
      var countDownDate = new Date("Oct 22, 2018 09:00:00").getTime()

      // Update the count down every 1 second
      var x = setInterval(() => {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        this.days = Math.floor(distance / (1000 * 60 * 60 * 24));
        this.hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        this.seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // If the count down is finished, write some text 
        if (distance < 0) {
          clearInterval(x);
        }
      }, 1000);
    }
  },
  mounted(){ 
    this.counter()
  },
  components: {
    sky,
    slide
  }
}
</script>


<style lang="sass" scoped>
.fade-enter-active, .fade-leave-active 
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ 
  opacity: 0


.coolframe
  border: 3px solid white
  border-radius: 10px
.text-align
  text-align: center
.btn-grad
  margin-bottom: 10em
  padding-top: 5px
  min-width: 14em
  min-height: 4em
  border-radius: 7px
  border: 0px;
  height: auto
  font-size: 8pt
  decoration: none
  outline: 0
  color: white
  transition: all .3s
  cursor: pointer
  background-image: linear-gradient(to left, #4776E6 0%, #8E54E9 51%, #4776E6 100%)

.input-eq
  width: 20em
  outline: 0
  display: inline-block
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box
  padding: 10px 20px
  border: none
  -webkit-border-radius: 3px
  border-radius: 3px
  color: rgba(0,142,198,1)
  -o-text-overflow: clip
  text-overflow: clip
  background: rgba(242,242,242,1)
  -webkit-box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.1) 
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.1) 
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) 
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)


.btn-grad:hover
  opacity:.9
  background-image: linear-gradient(to right, #4776E6 100%, #8E54E9 51%, #4776E6 0%)

.color-blue
  color: #3139D4

.color-orange
  color: #EE9334

.color-purple
  color: #783FFF

.mb-5
  margin-bottom: 13em !important

.timer
  font-family: 'Quicksand', sans-serif
  font-weight: 600

.text-end
  text-align: end

.text-desktop
  padding-right: 7em !important

.vpage
  height: 100vh

.flex-center-start
  align-items: center
  flex-direction: column
  justify-content: center

.text-left-desktop
  margin-left: 4em !important

.flex-center-left
  align-items: start
  flex-direction: column
  justify-content: center
.flex-center-right
  align-items: flex-end
  flex-direction: column
  justify-content: center

.relative
  position: relative

.abosolute
  position: absolute
  z-index: 100

.title
  width: 520px

.subtitle
  width: 400px

.rocket
  left: 35vw
  bottom: 0em

.planet1
  right: 3em
  top: 2em

.planet2
  left: 47vw
  top: 10em

.planet3
  right: 3em
  top: 18em

.moon_2 
  left: 4em
  top: 13em
  width: 7em

.nebula 
  left: 0em
  top: 30em
  width: 23em

.flage 
  bottom: 0em
  right: 0em
  width: 40em

.satelite
  left: 3em
  top: 10em
  width: 10em

.observer
  bottom: 1em
  left: 12em
  width: 15em

.astronaut
  bottom: 5em
  left: -5em
  width: 70em

.base_mar
  bottom: 6em
  right: 4em
  width: 20em

.backframe
  /* Full height */
  height: 100vh

  /* Center and scale the image nicely */
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important
  top: 0px !important
  left: 0px !important

// Background images

.slide_1
  background: url('/icons/back.svg')

.slide_2
  background: url('/icons/back_2.svg')

.slide_3
  background: url('/icons/back_3.svg')

.slide_4
  background: url('/icons/back_4.svg')

.slide_5
  background: url('/icons/back_5.svg')

.slide_6
  background: url('/icons/back_6.svg')

@media only screen and (max-width: 700px)

  div.mobile-text-frame
    padding-left: 2em !important
    padding-right: 2em !important

  .backframe
    background: white

  .backframe-mobile
    /* Full height */
    min-height: 100vh

    /* Center and scale the image nicely */
    background-position: center  center !important
    background-repeat: no-repeat !important
    background-size: auto 100% !important

  // slide 1
  .text-mobile
    align-items: start
    margin-left: 2em !important

  .slide_1_mobile
    background: url('/icons/back.svg')
    display: flex
    align-items: left
    justify-content: center


  .title
    width: 7em

  .rocket
    left: 30%
    bottom: 0em
    width: 14em

  .planet1
    right: 3em
    top: 2em
    width: 6em

  .planet2
    left: 47vw
    top: 10em
    width: 4em

  .planet3
    right: 1em
    top: 18em
    width: 6em

  // Slide 2
  .moon_2
    width: 0em

  .nebula
    width: 0em

  .satelite
    width: 0em

  .text-desktop
    padding: 0em !important

  .observer
    bottom: 0em
    left: 40%
    width: 7em    
  .mobile-text
    color: #783FFF !important

  .slide_5_mobile
    background: url('/icons/back_5_mob.svg') !important
    background-repeat: no-repeat !important
    background-size: cover !important
    top: 0px !important
    left: 0px !important

  .base_mar
    width: 5em

  .slide_6_mobile
    background: rgba(0,0,0,0)
  
</style>

